<div class="row" style="margin-top: 10px;">
    <div class="col s12">
        <div class="chip tiny">
            <%= search %>
        </div>

        <ul class="collection">
            <% results.forEach(function(result) { %>
                <li class="collection-item avatar">
                    <i class="tiny material-icons circle"><%= result.type == "FIX" ? 'local_phone' : 'phone_android' %></i>
                    <p class="title"><%= result.phone %></p>
                    <span class="title blue-grey-text"><%= result.name %></span><br>
                    <span><%= result.personal == 1 || result.address == '' ? provinces[result.province] : result.address %></span><br>
                </li>
            <% }) %>
        </ul>

        <div class="fixed-action-btn" onclick="apretaste.send({'command': 'ETECSADROYD'})">
            <a class="btn-floating btn-large green">
                <i class="large material-icons">arrow_back</i>
            </a>
        </div>
    </div>
</div>
